<template name="circuit">
    <svg
            width="600"
            height="400"
            id="svg2">
        <g
                transform="translate(0,-680.31491)"
               >
            <rect
                    width="338"
                    height="187"
                    x="89"
                    y="88.047241"
                    transform="translate(0,680.31491)"
                    id="rect2985"
                    style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
            <rect id="switch"
                    width="89"
                    height="92"
                    x="226.5"
                    y="908.36218"
                    style="fill:#ffffff;stroke:#000000;stroke-opacity:0.26282055" />
        </g>
        <g
                id="layer5">
            <rect
                    width="73"
                    height="97"
                    x="55.98761"
                    y="124.90092"
                    id="rect3758"
                    style="fill:#ffffff;stroke:#000000;stroke-opacity:0.26282055" />
            <rect
                    width="47.093178"
                    height="14.093176"
                    x="68.953415"
                    y="137.00066"
                    id="rect4081"
                    style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.30682367;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
            <rect
                    width="36.207603"
                    height="7.2076015"
                    x="74.896202"
                    y="154.94344"
                    id="rect4081-6"
                    style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.19239807;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
            <g
                    transform="matrix(1,0,0,-1,6,389.09448)"
                    id="g4146">
                <rect
                        width="47.093178"
                        height="14.093176"
                        x="62.953415"
                        y="179.00066"
                        id="rect4081-1"
                        style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.30682367;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
                <rect
                        width="36.207603"
                        height="7.2076015"
                        x="68.896202"
                        y="196.94344"
                        id="rect4081-6-4"
                        style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.19239807;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
            </g>
        </g>
        <g
                id="switch-block">
            {{#if circuit.closed}}
            <g
                    id="switch-closed">
                <path
                        d="m 226.98761,274.72408 25,0 0,0"
                        id="path3913"
                        style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                        d="m 288.98761,274.72408 25,0 0,0"
                        id="path3913-0"
                        style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                        d="m 255.12223,274.72408 31.73076,0 0,0"
                        id="path3913-4"
                        style="fill:none;stroke:#000000;stroke-width:1.12660146px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                        d="m 171,418.04724 a 4,2 0 1 1 -8,0 4,2 0 1 1 8,0 z"
                        transform="matrix(0.98065707,0,0,1.9613141,90.230269,-545.87473)"
                        id="path4018"
                        style="fill:#24221c;stroke:#000000;stroke-width:0.40000001;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
                <path
                        d="m 171,418.04724 a 4,2 0 1 1 -8,0 4,2 0 1 1 8,0 z"
                        transform="matrix(0.98065707,0,0,1.9613141,122.23027,-545.87473)"
                        id="path4018-3"
                        style="fill:#24221c;stroke:#000000;stroke-width:0.40000001;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
            </g>
                {{else}}
            <g
                    transform="translate(0,2.4648158e-6)"
                    id="switch-open">
                <path
                        d="m 226.98761,274.72408 25,0 0,0"
                        id="path3913-9"
                        style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                        d="m 288.98761,274.72408 25,0 0,0"
                        id="path3913-0-0"
                        style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                        d="m 283.98377,273.82409 -25.99232,-18.20002 0,0"
                        id="path3913-4-0"
                        style="fill:none;stroke:#000000;stroke-width:1.12660146px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
                <path
                        d="m 171,418.04724 a 4,2 0 1 1 -8,0 4,2 0 1 1 8,0 z"
                        transform="matrix(0.98065707,0,0,1.9613141,90.230269,-545.87473)"
                        id="path4018-8"
                        style="fill:#24221c;stroke:#000000;stroke-width:0.40000001;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
                <path
                        d="m 171,418.04724 a 4,2 0 1 1 -8,0 4,2 0 1 1 8,0 z"
                        transform="matrix(0.98065707,0,0,1.9613141,122.23027,-545.87473)"
                        id="path4018-3-5"
                        style="fill:#24221c;stroke:#000000;stroke-width:0.40000001;stroke-miterlimit:4;stroke-opacity:0.26282055;stroke-dasharray:none" />
            </g>
                {{/if}}
        </g>
        <g
                id="layer2">
            <path
                    d="m 295,83.547241 a 36.5,57.5 0 1 1 -73,0 36.5,57.5 0 1 1 73,0 z"
                    transform="translate(48,-7)"
                    id="path2988"
                    style="fill:#ffffff;stroke:#000000;stroke-opacity:0.26282055" />
            <path
                    d="m 270,88.047241 24,0 -4,-37 2,-3"
                    id="path3762"
                    style="fill:none;stroke:#000000;stroke-width:0.40000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
            <path
                    d="m 341,88.047241 -24,0 4,-37 -2,-3"
                    id="path3762-1"
                    style="fill:none;stroke:#000000;stroke-width:0.40000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
        </g>
        <g
                id="layer3">
            <g
                    transform="matrix(0.14586566,0,0,0.61904762,274.47196,-215.83915)"
                    id="filament" class="{{#if circuit.closed}}lit {{circuit.closed}}{{/if}}">
                <path
                        d="m 76,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3787"/>
                <path
                        d="m 94,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3787-0"/>
                <path
                        d="m 112,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3807"/>
                <path
                        d="m 130,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3809"/>
                <path
                        d="m 148,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3787-6"/>
                <path
                        d="m 166,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3787-0-9"/>
                <path
                        d="m 184,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3807-2"/>
                <path
                        d="m 202,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3809-7"/>
                <path
                        d="m 220,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3838"/>
                <path
                        d="m 238,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3840"/>
                <path
                        d="m 256,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3842"/>
                <path
                        d="m 274,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3844"/>
                <path
                        d="m 292,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3846"/>
                <path
                        d="m 310,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3848"/>Intro
                <path
                        d="m 328,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3850"/>
                <path
                        d="m 346,454.04724 c 0,0 -1,-41 12,-41 13,0 12,41 12,41 l -6,-1 c 0,0 3,-24 -6,-23 -9,1 -6,22 -6,22 z"
                        id="path3852"/>
            </g>
        </g>
    </svg>
    <h2 class="ui header">{{circuit.meta}} - circuit closed: {{circuit.closed}}</h2>
</template>


